/*
* ----------------------------------------------------------------------------------------
*   Default
* ----------------------------------------------------------------------------------------
*
*/

body,
ul,
li,
p,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    background: white;
    color: #464646;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/*
* ----------------------------------------------------------------------------------------
*   Layout
* ----------------------------------------------------------------------------------------
*
*/

.wrapper {
    margin: 0;
}


/*
* ----------------------------------------------------------------------------------------
*   Header
* ----------------------------------------------------------------------------------------
*
*/

.header-area {
    left: 0;
    padding: 30px 0;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 5;
}

.nav-item a:hover {
    /* color: #3f6ad8 !important; */
    color: transparent;
    background: #3f6ad8;
}

.nav-link {
    color: white !important;
}


/*
* ----------------------------------------------------------------------------------------
*   Slider
* ----------------------------------------------------------------------------------------
*
*/

.slider-area::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.single-slider {
    background-image: url('../img/cover.jpg');
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.single-slider-all {
    color: #fff;
    position: relative;
    z-index: 1;
}

.height-100vh .container {
    display: table;
    height: 100%;
}

.height-100vh .container .slider-middle {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.slider-title h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    overflow: hidden;
}

.slider-title h2 {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 75px;
    text-transform: capitalize;
}

.slider-title h2 span {
    font-weight: 700;
}

.slider-icon {
    margin-top: 35px;
}

.slider-icon li {
    display: inline-block;
}

.slider-icon li a {
    color: #fff;
    display: block;
    font-size: 2em;
    margin: 0px 10px;
}

.slider-icon li a:hover {
    color: #999;
}

.scroll-icon a {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    padding: 25px 10px;
}


/* responsive media queries */


/* Mouse scroll effect */

.mouse {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
}

.mouse .mouse-icon {
    display: block;
    width: 25px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.mouse .mouse-wheel {
    height: 4px;
    margin: 2px auto 0;
    display: block;
    width: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}

.mouse:hover .mouse-icon {
    border-color: #fff;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}


/*
* ----------------------------------------------------------------------------------------
*   About
* ----------------------------------------------------------------------------------------
*
*/

.about {
    margin-top: 60px;
}

ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.about-info li span:first-child {
    font-weight: 600;
    color: #000000;
    width: 130px;
}

.user-image {
    background-image: url('../img/user1.jpg');
    background-position: center center;
    background-size: cover;
    height: 500px;
    margin-top: 20px;
}


/*
* ----------------------------------------------------------------------------------------
*   Resume
* ----------------------------------------------------------------------------------------
*
*/

.resume {
    margin-top: 60px;
    padding: 20px 0 20px 0;
}

.resume-bg {
    background: #F5F6F8;
}

.resume-wrap {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.resume-wrap .date {
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    color: #3f6ad8;
}


/* Timeline*/

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 50px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #3f6ad8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}


/*
* ----------------------------------------------------------------------------------------
*   Skills and Tools
* ----------------------------------------------------------------------------------------
*
*/

.skills {
    margin-top: 60px;
}

.skills-item p {
    font-weight: bold;
    padding-top: 5px;
}

.certifications ul {
    list-style: disc;
    padding-left: 3em;
}


/*
* ----------------------------------------------------------------------------------------
*   Contact
* ----------------------------------------------------------------------------------------
*
*/

.contact {
    margin-top: 60px;
}


/*
* ----------------------------------------------------------------------------------------
*   Footer
* ----------------------------------------------------------------------------------------
*
*/

.footer {
    margin-top: 60px;
    display: block;
    text-align: center;
    background: #000000;
    color: white;
    padding: 50px;
}


/*
* ----------------------------------------------------------------------------------------
*   Helpers
* ----------------------------------------------------------------------------------------
*
*/


/* Blinking Effect*/

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: white;
    }
    49% {
        color: white;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: white;
    }
}

.height-100vh {
    height: 100vh;
}

.custom-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

h2 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}